@import url('../../Styles/colors.css');
@import url('../../Styles/alignment.css');
@import url('../../Styles/icons.css');
@import url('../../Components/navbar.css');
@import url('../../Components/Code/code.css');
@import url('../../Styles/animations.css');
@import url('../../Styles/elements.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Design for Tablets */
@media (max-width: 768px) {
    h1 {
        font-size: larger;
    }

    .mobileCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    } 

    .mobileMargin {
        margin-left: 10%;
    }
}

.box {
    width: 150px; 
    height: 100px;
}

/* Design for Phones */
@media (max-width: 480px) {
    .hideMobile {
        display: none;
    }

    .box {
        width: 100px; 
        height: 60px;
    }

    .mobileMarginBottom {
        margin-bottom: 100px;
    }
}


