@import url('./normalize.css');
@import url('./theme.css');

:root {
	font-size: 14px;
}

body {
	background-color: var(--color-bg);
	color: var(--color-muted);
}

#root {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

/*#region ======= SIDEBAR =======*/
#sidebarContainer {
	display: flex;
	flex-direction: column;

	background-color: var(--color-fg);
	border-right: 1px solid var(--color-border);

	width: 250px;
	max-width: 250px;
}

#sidebarHeader {
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	grid-template-areas:
		'image name'
		'image title';

	padding: 1rem;
	column-gap: 1rem;
	align-items: center;
	justify-content: start;
}

#profileImage {
	grid-area: image;

	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
}

#profileName {
	grid-area: name;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--color-text);
}

#profileTitle {
	grid-area: title;

	font-size: 0.9rem;
	color: var(--color-muted);
}

.sidebarLinks {
	display: flex;
	flex-direction: column;
	list-style: none;

	margin: 0;
	padding: 0 10px;
	gap: 5px;
}

.sidebarDivider {
	margin: 1rem 0 0.5rem 10px;
	padding: 0 5px;

	font-size: 0.95rem;
	font-weight: bold;
}

.sidebarItem {
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 1rem;

	border-radius: 4px;
	border: 1px solid transparent;

	font-size: 0.95rem;
	transition: all 100ms ease-in-out;
	cursor: pointer;
}

.sidebarItem:hover {
	color: var(--color-text);
}

.sidebarItem:has(a.active):not([is_setting]) {
	background-color: var(--color-highlight);
	color: var(--color-text);
	border: 1px solid var(--color-border);
}

.sidebarItem a {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 1rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: inherit;
}

.externalLinkIcon {
	padding: 0 1rem;
}

.flagIcon {
	width: 32px;
	height: 24px;
	object-fit: cover;
	border-radius: 2px;
	margin: 0 1rem;
}
/*#endregion ==== END OF SIDEBAR ====*/

/*#region ======= MAIN CONTENT =======*/
main {
	flex: 1;
	margin: 2rem 4rem;
	overflow-y: auto;
}

main > * {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 3rem;
	color: var(--color-text);
}

h2 {
	color: var(--color-text);
}

h2:after {
	content: '';
	display: block;
	width: 100%;
	margin-top: 0.5rem;
	z-index: -1;
	height: 4px;
	background-color: var(--color-highlight);
	border-radius: 2px;
}

p {
	font-size: 1.5rem;
	color: var(--color-muted);
	margin-block: 1rem;
}

/*======= INPUTS =======*/
select {
	background-color: var(--color-highlight);
	color: inherit;
	border: 1px solid var(--color-border);
	border-radius: 4px;
	padding: 0.25rem 0.5rem;
	width: 15ch;
	max-width: 150px;
	cursor: pointer;
}

button.button {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	background-color: var(--color-fg);
	color: var(--color-muted);
	border: 1px solid var(--color-border);
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

button.button:hover {
	background-color: var(--color-highlight);
	color: var(--color-text);
	border: 1px solid var(--color-text);
}

button.button a {
	text-decoration: none;
	color: inherit;
}

/*======= SCROLLBAR =======*/
::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-border);
	border-radius: 4px;
}

/*======= EFFECTS =======*/
.muted {
	color: var(--color-muted);
}

/*======= CODE BLOCK =======*/
pre {
	background-color: var(--color-fg);
	color: var(--color-muted);
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-border);
	overflow-x: auto;
}

/*======= TECHNOLOGIES =======*/
.technologies {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.technology {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	width: 80px;
	height: 80px;

	background-color: var(--color-highlight);
	color: var(--color-muted);
	border: 1px solid var(--color-border);
	border-radius: 8px;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.85rem;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.technology:nth-child(even):not(:hover) {
	background-color: var(--color-fg);
	color: var(--color-text);
}

.technology:hover {
	color: var(--color-text);
	transform: perspective(200px) rotateX(10deg) scale(1.05) translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.technology .icon {
	font-size: 2rem;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

/*======= ABOUT =======*/
span.tag {
	background-color: var(--color-highlight);
	padding: 0.2rem 0.5rem;
	border-radius: 4px;
	margin-right: 1rem;
}

.block {
	display: flex;
	flex-direction: column;
	margin-block: 1rem;
	background-color: var(--color-highlight);
	padding: 1rem;
	border-radius: 8px;
	border: 1px solid var(--color-border);
	gap: 0.25rem;
}

.block h3 {
	color: var(--color-text);
}

.phoneNumber, .email {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.paragraph {
	font-size: 1.2rem;
}

.languages {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

ul li span {
	display: inline-block;
	min-width: 100px;
}